Repository sablier-labs/v1-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: payroll, protocol

docs: update top text in README
  README.md
Due: none

chore: add .openzeppelin development files to .gitignore
  .gitignore
Due: none

refactor(payroll): use only @openzeppelin/contracts-ethereum-package
  packages/payroll/contracts/interfaces/ICERC20.sol
  packages/payroll/contracts/test/ERC20Mock.sol
  packages/payroll/contracts/test/Imports.sol
  packages/payroll/contracts/test/NonStandardERC20.sol
  packages/payroll/contracts/utils/CarefulMath.sol
  packages/payroll/contracts/utils/Exponential.sol
Due: payroll

feat(payroll): use GSN 🎉
  packages/payroll/contracts/Payroll.sol
  packages/payroll/package.json
Due: payroll

refactor(protocol): switch to @openzeppelin/contracts-ethereum-package
  packages/protocol/contracts/Sablier.sol
  packages/protocol/contracts/test/ERC20Mock.sol
  packages/protocol/contracts/test/Imports.sol
  packages/protocol/contracts/test/NonStandardERC20.sol
  packages/protocol/package.json
  packages/protocol/test/sablier/behaviors/Create.behavior.js
  packages/protocol/test/setup.js
  yarn.lock
Due: protocol

refactor(payroll): use _msgSender() instead of msg.sender
  packages/payroll/contracts/Payroll.sol
  packages/payroll/contracts/Sablier.sol
  packages/payroll/package.json
Due: payroll

test(payroll): remove message for SafeMath reverts
  packages/payroll/test/payroll/behaviors/AddSalary.behavior.js
Due: payroll

style(landing): add propType for "children" in Modal
  packages/landing/src/components/Modal/index.jsx
Due: none

chore(frontend): temporarily disable the lint script
  packages/frontend/package.json
Due: none

style: apply prettier
  packages/payroll/.openzeppelin/project.json
  packages/payroll/truffle-config.js
  packages/protocol/contracts/Sablier.sol
  packages/protocol/truffle-config.js
Due: payroll, protocol

ci: fix flag for payroll package
  codecov.yml
Due: none

Fixed return() in test failing
  packages/protocol/test/sablier/behaviors/Withdraw.behavior.js
Due: protocol

test(protocol): reorder tests
  packages/protocol/test/sablier/Sablier.behavior.js
Due: protocol

chore: update truffle to 5.0.34
  packages/payroll/package.json
  packages/protocol/package.json
  yarn.lock
Due: payroll, protocol

build: add evm.deployedBytecode, ast and metadata to sol-compiler output
  packages/payroll/compiler.json
  packages/protocol/compiler.json
Due: payroll, protocol

style: alphabetise code
  packages/payroll/test/payroll/Payroll.js
  packages/protocol/contracts/test/NonStandardERC20.sol
Due: payroll, protocol

fix(frontend): erroneous non-static invocation of static method
  packages/frontend/src/pages/PayWithSablier/index.jsx
Due: none

feat(eslint-config): add allowAfterThis to no-underscore-dangle
  packages/eslint-config/src/index.js
Due: none

test(protocol): tolerate block time variation
  packages/protocol/test/helpers/chai.js
  packages/protocol/test/sablier/Sablier.behavior.js
  packages/protocol/test/sablier/behaviors/Cancel.behavior.js
  packages/protocol/test/sablier/behaviors/Withdraw.behavior.js
  packages/protocol/test/setup.js
Due: protocol

ci: temporarily disable the coverage job
  .circleci/config.yml
Due: none

feat(chai-eth): initial commit
  packages/chai-eth/.eslintrc
  packages/chai-eth/README.md
  packages/chai-eth/package.json
  packages/chai-eth/src/index.js
Due: none

test(protocol): fix failing test for deltaOf
  packages/protocol/test/sablier/Sablier.behavior.js
Due: protocol

refactor(protocol): switch to @sablier/chai-eth
  packages/protocol/package.json
  packages/protocol/test/helpers/chai.js
  packages/protocol/test/setup.js
Due: protocol

test(payroll): tolerate block time variation
  packages/payroll/package.json
  packages/payroll/test/payroll/behaviors/CancelSalary.behavior.js
  packages/payroll/test/payroll/behaviors/WithdrawFromSalary.behavior.js
  packages/payroll/test/setup.js
Due: payroll

fix(frontend): erroneous non-static invocation of static method, again
  packages/frontend/src/classes/parser.js
  packages/frontend/src/components/Loader/index.jsx
Due: none

ci: remove fixes from codecov.yml
  .circleci/config.yml
  codecov.yml
Due: none

chore: update to truffle@^5.0.35
  packages/payroll/package.json
  packages/protocol/package.json
  yarn.lock
Due: payroll, protocol

build(protocol): add source maps to sol-compiler output
  packages/protocol/compiler.json
  packages/protocol/truffle-config.js
Due: protocol

refactor(protocol): move mocks to their own folder
  packages/protocol/contracts/mocks/CERC20Mock.sol
  packages/protocol/contracts/mocks/ERC20Mock.sol
  packages/protocol/contracts/mocks/NonStandardERC20Mock.sol
  packages/protocol/contracts/test/NonStandardERC20.sol
  packages/protocol/contracts/test/NonStandardIERC20.sol
Due: protocol

chore: update dependencies
  packages/payroll/package.json
  packages/protocol/package.json
Due: payroll, protocol

test(protocol): write tests for the compound integration
  packages/protocol/test/sablier/Sablier.behavior.js
  packages/protocol/test/sablier/Sablier.js
  packages/protocol/test/sablier/behaviors/Admin.js
  packages/protocol/test/sablier/behaviors/CancelCompoundingStream.js
  packages/protocol/test/sablier/behaviors/CancelStream.js
  packages/protocol/test/sablier/behaviors/CreateCompoundingStream.js
  packages/protocol/test/sablier/behaviors/CreateStream.js
  packages/protocol/test/sablier/behaviors/WithdrawFromCompoundingStream.js
  packages/protocol/test/sablier/behaviors/WithdrawFromStream.js
Due: protocol

build(payroll): add source maps to sol-compiler output
  packages/payroll/compiler.json
  packages/payroll/truffle-config.js
Due: payroll

refactor(payroll): move mocks to their own folder
  packages/payroll/contracts/interfaces/ICERC20.sol
  packages/payroll/contracts/mocks/CERC20Mock.sol
  packages/payroll/contracts/mocks/ERC20Mock.sol
  packages/payroll/contracts/mocks/NonStandardERC20Mock.sol
  packages/payroll/contracts/test/Imports.sol
  packages/payroll/contracts/test/NonStandardERC20.sol
  packages/payroll/contracts/test/NonStandardIERC20.sol
Due: payroll

feat(protocol): integrate compound and apply the interest fee model
  packages/protocol/contracts/Sablier.sol
  packages/protocol/contracts/Types.sol
  packages/protocol/contracts/compound/CarefulMath.sol
  packages/protocol/contracts/compound/ComptrollerErrorReporter.sol
  packages/protocol/contracts/compound/EIP20Interface.sol
  packages/protocol/contracts/compound/EIP20NonStandardInterface.sol
  packages/protocol/contracts/compound/Exponential.sol
  packages/protocol/contracts/compound/TokenErrorReporter.sol
  packages/protocol/contracts/interfaces/ICERC20.sol
  packages/protocol/contracts/interfaces/IERC1620.sol
  packages/protocol/migrations/3_deploy_sablier.js
Due: protocol

feat(payroll): add optional, automated conversion to compound tokens
  packages/payroll/contracts/Payroll.sol
  packages/payroll/contracts/Sablier.sol
  packages/payroll/contracts/compound/CarefulMath.sol
  packages/payroll/contracts/compound/ComptrollerErrorReporter.sol
  packages/payroll/contracts/compound/EIP20Interface.sol
  packages/payroll/contracts/compound/EIP20NonStandardInterface.sol
  packages/payroll/contracts/compound/Exponential.sol
  packages/payroll/contracts/compound/TokenErrorReporter.sol
Due: payroll

test(payroll): add tests for the automated conversion to compound tokens
  packages/payroll/test/payroll/Payroll.behavior.js
  packages/payroll/test/payroll/behaviors/AddSalary.behavior.js
  packages/payroll/test/payroll/behaviors/CancelSalary.behavior.js
  packages/payroll/test/payroll/behaviors/WithdrawFromSalary.behavior.js
Due: payroll

feat(dev-utils): add constants for compound integration
  packages/dev-utils/src/constants.js
Due: none

refactor: nuke the chai-eth package
  packages/chai-eth/.eslintrc
  packages/chai-eth/README.md
  packages/chai-eth/package.json
  packages/chai-eth/src/index.js
Due: none

refactor(dev-utils): move the chai plugin here
  packages/dev-utils/src/chaiPlugin.js
  packages/dev-utils/src/index.js
  packages/payroll/package.json
  packages/protocol/package.json
Due: payroll, protocol

test(payroll): make tests pass
  packages/payroll/test/payroll/Payroll.behavior.js
  packages/payroll/test/payroll/behaviors/AddSalary.behavior.js
  packages/payroll/test/payroll/behaviors/CancelSalary.behavior.js
  packages/payroll/test/payroll/behaviors/WithdrawFromSalary.behavior.js
  packages/payroll/test/setup.js
Due: payroll

Path conditions:
  payroll: any of: packages/payroll/
  protocol: any of: packages/protocol/
